:root{
    --back-color:#000000;
    --gray-color:#112d4e;
    --lightgray-color:#3f72af;
    --blue-color:#3f72af;
    --ligth2gray-color:#DEDEDE;
    --white-color:#f9f7f7;
  
}
body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    
    color: var(--gray-color);
    text-decoration: none;
    outline: none;
}
a{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

a:hover,a:focus,a:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}


/*Superinfo*/

.superinfo-bg {
    background: var(--gray-color);
    color: white;
}

.superinfo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo p,
.superinfo a {
    margin: 0 10px 10px 10px;
}

.superinfo a {
    color: white;
}


/*Menu*/

.menu-bg {
    background: var(--blue-color);
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    color: white;
}


/*Introdução*/

.introducao {
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}


/*Sobre*/

.sobre {
    border-bottom: 2px solid #222222;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
}
.sobre .btn-linkedin{
    max-width: 100%;
    display: block;
    margin: 20px auto;
    border: 4px solid var(--blue-color);
    background: var(--blue-color);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
}
    

/*Produtos*/

.produtos {
    max-width: 960px;
    margin: 30px auto;
    
}

.produtos h1 {
    font-size: 3em;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
}

.produtos-item {
    flex: 1 1 175px;
    margin: 10px;
}

.produtos-item h2 {
    font-size: 3em;
    color: #222222;
    background: var(--white-color);
    padding: 60px 20px;
}
.produtos-info{
    position: absolute;
    top: 10px;
    max-width: 400px;
    background: var(--gray-color);
    padding: 30px 30px;
    color: white;
    display: none;
    visibility: hidden;
    opacity: 0;
}
.produtos-info a{
    color:white;

}
.div-titulo-produto{
    display: flex;
    align-items: center;
    margin: 0 10px 60px 10px
}
.div-titulo-produto img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
}
.produtos-info h3{
    margin: 0;
    padding: 0;
}

.produtos-info.info-2{
    top: -110px;
}
.produtos-info.ativo{
    display: block;
    visibility: visible;
    opacity: 1;  
}


.purple {
    border-top: 8px solid #ae81ff;
}

.red {
    border-top: 8px solid #B2132A;
}

.blue {
    border-top: 8px solid #3B8DC4;
}

.div-info-clicar{
    display: none;
    opacity: 0;
    visibility: hidden;
}
.div-info-clicar.ativo{
    display: block;
    opacity: 1;
    visibility: visible;
    animation-name: lado;
    animation-duration: 1.0s;
}
@keyframes lado{
    from{
        transform: translate3d(500px,-40px,0);
    }
    to{
        transform: translate3d(0,0,0);
    }
}

/*Preço*/
.preco{
    max-width: 960px;
    padding-top: 30px;
    border-top: 2px solid #222222;
    margin: 0 auto;
}
.preco h1{
    font-size: 3em;
    margin: 0 10px 60px 10px;
    margin: 0 auto;
    justify-content: center;
}
.div-preco {
    
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.preco-item {
    flex: 1 1 260px;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}

.preco-item h2 {
    font-size: 3em;
    color: #222222;
    text-align: center;
    margin-top: 20px;
}

.preco-item span {
    max-width: 300px;
    margin: 20px auto;
    display: block;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.preco-item sup {
    font-size: 1.5rem;
}

.preco-item ul {
    max-width: 600px;
    margin: 50px auto;
    font-size: 1.25em;
    font-style: italic;
    color: #7c7c7c;
    padding: 20px;
    border: 4px solid var(--gray-color);
    display: flex;
    justify-content: center;
}

.preco-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.preco-item li::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: var(--gray-color);
    border-radius: 50%;
}

.preco-item a {
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border: 4px solid var(--blue-color);
    background: var(--blue-color);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
}


/* QUALIDADE */

.qualidade {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.qualidade-titulo{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.qualidade-titulo img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
}


.container-qualidade{
    max-width: 90%;
    margin: 0 auto;
}
.container-qualidade h1{
    font-size: 3em;

    padding: 20px 5px;
    justify-content: center;
    color: var(--white-color);
    
}
.bg-qualidade{
    background: var(--lightgray-color);

}
.qualidade-item {
    flex: 1 1 300px;
    margin: 20px 10px;
    max-width: 300px;
    /* display:none; */

}
.qualidade-item.lista ul{
    display: none;
    opacity: 0;
    visibility: hidden;
}
.qualidade-item .container-barras{
    display: none;
    opacity: 0;
    visibility: hidden;
}
.qualidade-item.lista .container-barras{
    display: block;
    opacity: 1;
    visibility: visible;
}
.qualidade-item h2 {
    font-size: 2.25em;
    color: var(--white-color);

    margin-bottom: 20px;
}

.qualidade-item h2::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 25px;
    margin-right: 10px;
}

.qualidade-item h2::before {
    background-color: var(--gray-color);
}


.qualidade-item p, .qualidade-item ul li {
    font-size: 1.0em;
    line-height: 1.4;
    color: var(--gray-color);
    text-transform: uppercase;
    /* border: 1px solid #7c7c7c; */
    margin: 5px 0;

}
.qualidade-item ul li:before{
    content:'➡';
    padding: 0 10px;
}
/* BARRAS */

.container-barras h3{
color: var(--white-color);
}
.container-barras .barra-1,.container-barras .barra-2{
    width: 100%;
    border: 1px solid var(--white-color);
    height: 30px;
    display: flex;
    align-items: center;
    padding: 4px 5px;
    
}

.barra-1#htmlcss div{
width: 90%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-2#htmlcss div{
width: 85%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-1#js div{
width: 90%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-2#js div{
width: 60%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-1#git div{
width: 95%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-2#git div{
width: 850%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-1#php div{
width: 95%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-2#php div{
width: 850%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-1#studio div{
width: 95%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-2#studio div{
width: 850%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-1#term div{
width: 95%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-2#term div{
width: 850%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-1#java div{
width: 95%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}
.barra-2#java div{
width: 850%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}



/* NEWSLETTER */

.newsletter {
    background-color: #f7f7f7;
    padding: 60px calc((100% - 960px)/2);
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info {
    flex: 1 1 240px;
    margin: 0 10px;
}

.newsletter-info h1 {
    font-size: 3em;
    color: var(--white-color);

}

.newsletter-info p {
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    color: #7c7c7c;
    margin-bottom: 10px;
}

.newsletter-form {
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form input {
    flex: 3 1 260px;
    font-size: 1.25em;
    color: #7c7c7c;
    font-style: italic;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    border: 4px solid var(--gray-color);
    background-color: transparent;
    padding: 15px 10px;
    margin: 0;
    border-radius: 0;
}

.newsletter-form button {
    flex: 1 1 160px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--gray-color);
    color: white;
    margin: 0;
    cursor: pointer;
    border: 0;
    padding: 15px 10px;
}


/* FOOTER */

.footer {
    display: flex;
    background-color: var(--gray-color);
    align-items: center;
    height: 100px;
    margin-top: 20px;
}
.container-footer{
    display: flex;
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.container-footer a { 
    padding: 0 20px;
}
@media (max-width:600px) {
    .newsletter-form button {
        font-size: 1.5em;
    }
}

@media (max-width: 800px) {
    .preco {
        padding-left: 10px;
        padding-right: 10px;
    }
    .preco .preco-item:nth-child(3) {
        order: -2;
    }
    .preco .preco-item:nth-child(2) {
        order: -1;
    }
}

